[submodule "dependencies/crow"]
	path = dependencies/crow
	url = https://github.com/crowcpp/crow.git
[submodule "dependencies/libpqxx"]
	path = dependencies/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "dependencies/expected"]
	path = dependencies/expected
	url = https://github.com/TartanLlama/expected.git
